$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 0;
  padding-right: 0;
  .container-fluid{
      margin-bottom: 10px;
    }
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }

  .navbar, #myNavbar{
    margin-top:2px;
    border-radius: 0;
    padding-left: 20px;
    width: 100%;
    a{
     color: #49caff;
     font-size: 18pt;
    }
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}



.container-fluid{
  padding-left: 0;
  padding-right:0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
    .navbar-header{
      padding-left: 20px;
      padding-right: 20px;
      width: 80%;
    }
  }



  

  /* Space out the masthead */
  .header {
    margin-bottom: 0;
  }

  

}


/* To center placeholder in all browsers */
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

.navbar-default{
  background-color: #ffffff;
  border-color: #666666;
}


.thumbnail {
    padding: 0;
    background-color: transparent;
    box-shadow: 5px 5px 2px #666666;
    border-radius:0;
    position: relative;

    img{
      width: 100%;
    }
    .text-over-image {
      top: 0;
      left:65%;
      height: 40%;
      width: 35%;
      position: absolute;
      padding-top: 2px;
      .name-text{
        font-weight: 900;
        font-size: 1.1vw;
        position:relative;
        left:10%;
      }
      .phone-text{

        position:relative;
        left:-5%;
        font-size: 1vw;
      }
      .title-text{
        position:relative;
        left:-5%;
        font-size: 1vw;

      }
    }
  }


  @media screen and (max-width: 768px) {

    .thumbnail {
      .text-over-image {

      
        .name-text{
          font-weight: 900;
          font-size: 4vw;
        }
        .phone-text{
          font-size: 3vw;
        }
        .title-text{
          font-size: 3vw;

        }
      }
    }

  }





